.website{
  background-color: #f4f4f3

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #f4f4f3;
  overflow: hidden;
  padding: 30px;
}

.hidden{
  visibility: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: optima;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
    text-decoration: underline;
}

.static {
    background-color: #f4f4f3;
}

#name {
    float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}

.ybox {
  background-color: #ffd53d;
  padding: 80px;
  font-size: 70px;
    text-align: left;
  font-family: optima;
  margin: 20px;

}

.text-box{
    font-size: 100px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span{
    animation: mover 4s linear infinite;
    display: inline-block;
    color: black;
    font-weight: bolder;
}
@keyframes mover
{
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
        transform: translateY(30px);
      }
    100%
      {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}

.left{
  text-align: center;
}

.smalltext{
  text-align: left;
  padding: 55px;
}